name: Wisecow CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: wisecow

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.USERNAME }}/wisecow:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.USERNAME }}/wisecow:latest
